.newsletter-bg {
  background-color: #6e05df;
  padding: 2.5rem 0;
}

.newsletter-title, 
.newsletter-description {
  color: white;
}

.newsletter-description {
  text-align: center;
  margin-bottom: 2.5rem;
}

.newsletter-form {
  padding: .5rem;
  display: flex;
  justify-content: space-between;
}

.newsletter-input {
  width: 100%;
  padding: 5px;
  margin-right: 10px;
  background-color: #f6f6f6;
  color: black;
  border-radius: .6rem;
  border: 1px solid white;
}

.newsletter-input::placeholder {
  color: black;
  text-align: center;
}
.subscribe-button{
    background-color: transparent;
    border: 3px solid white;
    padding: 6px 12px;
    margin-left: 10px;
    border-radius: 10px;
    color: white;
    margin-top: 2px;
}
.subscribe-button:hover{
    border: 3px solid black;
    background-color: rgba(11, 14, 211, 0.226);
    color: white;
}
