
*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  transition: all .2s linear;
}

.section-title{
    margin: 17px 0;
    text-align: center;
}
.color-1{
    color: #8338ec;
}
.color-2{
    color: #acaaaa;
}
.bg-1{
    background-color: #f6f6f6;
}
.box-shadow{
    box-shadow: rgba(150, 145, 145, 0.301)  5px 5px 10px;
}
.transition{
    transition: all 0.5s ease;
}

.primary-button{
    background-color: #8338ec;
    border: 2px solid #8338ec;
    padding: 6px 12px;
    margin-left: 10px;
    border-radius: 10px;
    color: white;
    margin-top: 2px;
}
.primary-button:hover{
    background-color: transparent;
    color: #8338ec;
}
.secondary-button{
    background-color: transparent;
    border: 2px solid #8338ec;
    padding: 6px 12px;
    margin-left: 20px;
    border-radius: 10px;
    color: #8338ec;
}
.secondary-button:hover{
    background-color: #8338ec;
    color: white;
}
.heading{
  text-align: center;
  padding:2.5rem 0
}

.heading span{
  font-size: 30px;
  background:#8338ec;
  color: white;
  border-radius: 4px;
  padding: 0 10px;
  margin-right: 5px;
  font-family: 'Oswald', 'sans-serif';
}

.heading span.space{
  background:none;
}